<div class="w-full p-8">
    <div class="header__top">
        <div class="header__left">
            <h1 class="header__title">Welcome to your personal Amazing Tracker</h1>
            <div class="header__subtitle">Organize your tasks, todos and never miss a deadline</div>
            <div class="wrapper">
                <button type="button" class="add__task">Add a Task</button>
                <button type="button" class="view__task">Viaw All Tasks</button>
            </div>
        </div>
        <div class="header__right">
            <div class="todo__info">
                <div class="todo__number">24</div>
                <div class="todo__text">Tasks</div>
            </div>
            <div class="todo__info">
                <div class="todo__number">6</div>
                <div class="todo__text">Todo</div>
            </div>

            <div class="todo__info">
                <div class="todo__number">22</div>
                <div class="todo__text">Doing</div>
            </div>

            <div class="todo__info">
                <div class="todo__number">20</div>
                <div class="todo__text">Done</div>
            </div>

        </div>
    </div>

    <div class="header__bottom">
        <div class="approaching__deadline">
            <div class="approaching__deadline-task">
                <div class="task__description">
                    <div class="task__description-wrapper">
                        <span class="task__description-id">Task: DE-1234</span>
                        <button class="task__description-wrapper-btn">
                            <img class="task__description-edit" width="24" height="24" src="assets/icons/edit.svg" alt="ConfigTodo">
                        </button>
                    </div>
                    <div class="task__description-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="task__description-center-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="deadline__wrapper">
                        <div class="deadline__info">
                            <span class="deadline">DeadLine</span>
                            <span class="deadline__date">22 March</span>
                        </div>
                        <button class="view__todo-btn">
                            <img class="view__todo" src="assets/icons/eye.svg" width="24" height="24" alt="ViewTodo">
                        </button>
                    </div>
                </div>
                <div class="task__indicator task__indicator--primary"></div>
            </div>
            <div class="approaching__deadline-task">
                <div class="task__description">
                    <div class="task__description-wrapper">
                        <span class="task__description-id">Task: DE-1234</span>
                        <button class="task__description-wrapper-btn">
                            <img class="task__description-edit" width="24" height="24" src="assets/icons/edit.svg" alt="ConfigTodo">
                        </button>
                    </div>
                    <div class="task__description-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="task__description-center-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="deadline__wrapper">
                        <div class="deadline__info">
                            <span class="deadline">DeadLine</span>
                            <span class="deadline__date">22 March</span>
                        </div>
                        <button class="view__todo-btn">
                            <img class="view__todo" src="assets/icons/eye.svg" width="24" height="24" alt="ViewTodo">
                        </button>
                    </div>
                </div>
                <div class="task__indicator task__indicator--secondary"></div>
            </div>
            <div class="approaching__deadline-task">
                <div class="task__description">
                    <div class="task__description-wrapper">
                        <span class="task__description-id">Task: DE-1234</span>
                        <button class="task__description-wrapper-btn">
                            <img class="task__description-edit" width="24" height="24" src="assets/icons/edit.svg" alt="ConfigTodo">
                        </button>
                    </div>
                    <div class="task__description-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="task__description-center-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="deadline__wrapper">
                        <div class="deadline__info">
                            <span class="deadline">DeadLine</span>
                            <span class="deadline__date">22 March</span>
                        </div>
                        <button class="view__todo-btn">
                            <img class="view__todo" src="assets/icons/eye.svg" width="24" height="24" alt="ViewTodo">
                        </button>
                    </div>
                </div>
                <div class="task__indicator task__indicator--outline"></div>
            </div>
        </div>
    </div>
</div>
