
.datepicker {
    width: 200px;
    height: 59px;
}

.assigned__person {
    width: 200px;
    height: 59px;
}

.severity {
    width: 299px;
}

.create__task {
    display: block;
    margin: 0;
    padding: 11px 58px;
    max-width: 184px;
    height: 59px;
    background-color: #FC6D27;
    color: #ffffff;
    border-radius: 10px;
    margin-left: auto;
}
